/* HEADER and SIDEBAR */

.skin-black .main-header .logo {
  /*font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  border-right:1px solid black;*/
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  border-bottom:0.0625em solid black;
}
.skin-black .navbar{
  border-bottom:0.0625em solid black;
}
.skin-black .main-sidebar {
  background-color:white;
  color: #003366;
  font-weight: bold;
  border-right:0.0625em solid black;
}
/*#tabs{
  font-size: 15px;
  text-decoration-color: #003366;
}*/

.skin-black .sidebar-menu li a{
  font-size: 1.25em;
  background-color: white;
  color: #003366;
  font-weight: bold;
  border-bottom:0.0625em solid black;
}  

.skin-black .sidebar-menu li.active a{
  border-left-color: #41B6E6;
  border-left-width: 0.75em;
  background-color: white;
  color: #003366;
  font-weight: bold;
}

.skin-black .sidebar-menu li:hover a{
  border-left-color: #003366;
  border-left-width: 0.75em;
}



/* HOME TAB */
#homeimg{
  margin-left: -1.875em;
  margin-right: -1.875em;
  margin-top: -0.9375em;
  width: 110%;
}

#hometagline{
  text-align: justify;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.1em;
  margin-right: 5em;
  margin-left: 5em;
  font-size: 2em;
  font-weight: bold;
}

#hometagdesc1{
  text-align: justify;
  text-align: center;
  margin-top: 0.001em;
  margin-bottom: 0.001em;
  margin-right: 5em;
  margin-left: 5em;
  font-size: 1.7em;
}

#hometagdesc2{
  text-align: justify;
  text-align: center;
  margin-right: 5em;
  margin-top: 0.001em;
  margin-bottom: 2em;
  margin-left: 5em;
  font-size: 1.7em;
}
.trialdc{
  font-weight: bold;
  margin-bottom: 0.1em  
}


#overview{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* HOME & ABOUT TAB */
p{
    font-size: 18px;  
}

h2{
  color: #003366;
  font-weight: bold;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}


#acknowledgements{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#DFLogo{
  width: 25%;
  max-width: 100%;
  margin-top: 2.5em;
  margin-right: 1.7em;
  margin-left: 1.7em;
}

#NMLogo{
  width: 25%;
  max-width: 100%;
  margin-top: 2.5em;
  margin-right: 1.7em;
  margin-left: 1.7em;
}

#HMSLogo{
  width: 25%;
  max-width: 100%;
  margin-top: 2.5em;
  margin-right: 1.7em;
  margin-left: 1.7em;
}

/* DESIGN TAB */
.pretty{
  font-size: 18px;
}

#DTDoseLabels{
  font-size: 18px;
}

#DTTrueTox{
  font-size: 18px;
}

#DTPriorTox{
  font-size: 18px;
}

.control-label{
  font-size: 18px;
}

.irs-min{
  font-size: 16px;
  line-height: 16px;
}

.irs-max{
  font-size: 16px;
  line-height: 16px;
}

.irs-single{
  font-size: 16px;
  line-height: 16px;
}

.selectize-input{ 
  font-size: 18px; 
  line-height: 18px;
}

.selectize-dropdown{
  font-size: 18px; 
  line-height: 18px;
}

#DTSimulate:hover{
  background-color: #1b9e77;
  color: white;
}

#DTResults:hover{
  background-color: #7570b3;
  color: white;
}

#DTReset:hover{
  background-color: #d95f02;
  color: white;
}

#DTPlot1{
  height: calc(50vh - 50px) !important;
  width: 100%;
    
} 

#DTPlot2{
  height: calc(50vh - 50px) !important;
  width: 100%;
} 

#DTPlot3{
  height: calc(50vh - 50px) !important;
  width: 100%;
} 

#DTPlot4{
  height: calc(50vh - 50px) !important;
  width: 100%;
}