/* MISC. */
.container-fluid{
  padding: 0;
  overflow-x: hidden;
}

.other_tabs{
  padding: 15px;
}

/* NAVBAR */
.navbar{
  background-color: white;
  margin-bottom: 0;
  padding-left: 1.2em;
}

.navbar-brand{
  margin-right: 1.2em;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  padding-top: 0.8em;
  font-size: 2.5em;
  color: black;
  font-weight: bold;
}

.nav li a{
  margin-right: 1.2em;
}

.navbar-default .navbar-nav li a{
  color: black;
  font-size: 1.6em;
}

.navbar-default .navbar-nav .active a{
  border-top: 0.8em solid #003087;
  background-color: white !important;
  color: black;
  text-decoration: underline;
}

.navbar-default .navbar-nav .active a:focus{
  border-top: 0.8em solid #003087;
  background-color: white;
  color: black;
}

.navbar-default .navbar-nav a:hover{
  border-top: 0.8em solid #41B6E6;
  background-color: white;
  color: black;
}

/* HOME TAB */
#homeimg{
  width: 100%;
  object-fit: cover;
  padding: 0;
}

#hometagline{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#hometagdesc{
  text-align: center;
  font-size: 1.7em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.text-body{
  margin-left: 5em;
  margin-right: 5em;
}

/* HOME & ABOUT TAB */
p{
  font-size: 18px;  
}

h2{
  color: #003087;
  font-weight: bold;
}

#df_logo{
  width: 40%;
}

#nm_logo{
  width: 40%;
}

.footer{
  margin: 8em 5em 2em;
  padding: 0;
  text-align: center;
}

/* DESIGN TAB */
#dt_dose_labels{
  font-size: 18px;
}

#dt_true_tox{
  font-size: 18px;
}

#dt_prior_tox{
  font-size: 18px;
}

#dt_simulate{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#dt_simulate:hover{
  width: 100%;
  background-color: #1b9e77;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#dt_results{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#dt_results:hover{
  width: 100%;
  background-color: #7570b3;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#dt_reset{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#dt_reset:hover{
  width: 100%;
  background-color: #d95f02;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#dt_plot1{
  height: calc(50vh - 50px) !important;
  width: 100%;
} 

#dt_plot2{
  height: calc(50vh - 50px) !important;
  width: 100%;
} 

#dt_plot3{
  height: calc(50vh - 50px) !important;
  width: 100%;
} 

#dt_plot4{
  height: calc(50vh - 50px) !important;
  width: 100%;
}

/* DESIGN & CONDUCT TAB */
.pretty{
  font-size: 18px;
}

.control-label{
  font-size: 18px;
}

.irs-min{
  font-size: 16px;
  line-height: 16px;
}

.irs-max{
  font-size: 16px;
  line-height: 16px;
}

.irs-single{
  font-size: 16px;
  line-height: 16px;
}

.selectize-input{ 
  font-size: 18px; 
  line-height: 18px;
}

.selectize-dropdown{
  font-size: 18px; 
  line-height: 18px;
}

.help-p{
  display: inline;
}

.help-btn{
  background-color: #BCDBEA;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
}

.help-btn:hover{
  background-color: #003087
}

.ct_checkbox{
  font-size: 18px;
  font-weight: bold;
}

/* CONDUCT TAB */

#ct_selectors{
  font-size: 18px;
}

#ct_dose_labels{
  font-size: 18px;
}

#ct_prior_tox{
  font-size: 18px;
}

#ct_pid{
  font-size: 18px;
}

#ct_add{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_add:hover{
  width: 100%;
  background-color: #1b9e77;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_remove{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_remove:hover{
  width: 100%;
  background-color: #d95f02;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_simulate{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_simulate:hover{
  width: 100%;
  background-color: #1b9e77;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_results{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_results:hover{
  width: 100%;
  background-color: #7570b3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_reset{
  width: 100%;
  background-color: #003087;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_reset:hover{
  width: 100%;
  background-color: #d95f02;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

#ct_next_dose{
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #41B6E6;
  padding: 5px;
  margin: 15px;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #003087;
}

/* ABOUT TAB */
#acknowledgements{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* HELP TAB */
.help-text{
  padding: 2em;
}